.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  height: 100px;
  padding: 0 20px;
  position: fixed;
  z-index: 900;
}

.logo{
  width: 50px;
  height: 50px;
}

.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.cartIcon {
  width: 50px;
  height: 50px;
}
