:root {

    --font-just-another-hand: "Just Another Hand", cursive;
    --font-kurale: "Kurale", serif;
    
    --primary-font: var(--font-just-another-hand);
    --title-font: var(--font-kurale);


    /* Background colors */
    --green-color : #5e9a13; 
    --greyBackground-color : #eff4f8;


    /* Text colors */
    --whiteFont-color : #fff;
    --blackFont-color : #000;
     

    --base-text-color : #213547;
    --base-background-color : #fff;
    
}

